.topnav {

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 7px 20px;

  background-color: var(--white);

}


/* Logo */

.logo img {

  width: 150px;

  height: 50px;

}


/* Navigation */

.nav-links {

  display: flex;

  gap: 25px;

}


.nav-links a {

  color: var(--black);

  text-decoration: none;

  font-weight: 500;

}


.nav-links a:hover {

  color: var(--salamander);

}


/* Active page */

.nav-links .active {

  border-bottom: 3px solid var(--salamander);

  padding-bottom: 5px;

}


/* Profile */

.profile {

  display: flex;

  align-items: center;

  gap: 10px;

  color: var(--gravel);

  padding: 8px 15px;

  border-radius: 12px;

  cursor: pointer;

}


.profile-icon {

  font-size: 32px;

}


.profile-details {

  display: flex;

  flex-direction: column;

}


.profile-details span {

  font-size: 12px;

}


.dropdown-icon {

  font-size: 12px;

}

.topnav-avatar {

    width:40px;

    height:40px;

    border-radius:50%;

    background:#d85f06;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:14px;

    font-weight:bold;

    text-transform:uppercase;

}

.profile {

    position: relative;

    cursor: pointer;

}

.profile-menu {

    position: absolute;

    right: 0;

    top: 55px;

    width: 160px;

    background: white;

    border-radius: 10px;

    padding: 10px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.15);

    z-index: 1000;

}

.profile-menu button {

    width: 100%;

    padding: 10px;

    border: none;

    background: transparent;

    text-align: left;

    cursor: pointer;

    font-family: inherit;

}

.profile-menu button:hover {

    background: #e5c19b;

    border-radius: 6px;

}

/* ===========================
   HAMBURGER MENU
=========================== */


.hamburger {

    display:none;

    background:none;

    border:none;

    font-size:26px;

    color:var(--gravel);

    cursor:pointer;

}


/* Mobile links */

.mobile-top-links{

    display:none;

}



/* ===========================
   TABLET
=========================== */


@media(max-width:992px){


    .topnav {

        padding:10px 15px;

    }


    .nav-links {

        gap:15px;

    }


}


